
.vs/experimental_data_management_system/v16/Browse.VC.db

.vs/experimental_data_management_system/v16/Browse.VC.db-shm

.vs/experimental_data_management_system/v16/Browse.VC.db-wal

.vs/experimental_data_management_system/v16/Browse.VC.opendb

.vs/experimental_data_management_system/v16/ipch/AutoPCH/193c6a2fe5376649/MEASUREMENT_CLASSES.ipch

.vs/experimental_data_management_system/v16/ipch/AutoPCH/2ed3c2b0726f576a/BASE_MENUS.ipch

.vs/experimental_data_management_system/v16/ipch/AutoPCH/6d8a081511b5756e/MANAGE_DATA.ipch

.vs/experimental_data_management_system/v16/ipch/AutoPCH/9015787b81067e50/USEFUL_FUNCTIONS.ipch

.vs/experimental_data_management_system/v16/ipch/AutoPCH/bcb510dc48d1843a/ANALYSIS.ipch

.vs/experimental_data_management_system/v16/ipch/AutoPCH/d01afd942dcc4029/EXPORT_DATA.ipch

.vs/experimental_data_management_system/v16/ipch/AutoPCH/f3d618f54d0ebf1c/EXPERIMENT_CLASS.ipch

.vs/ProjectSettings.json

.vs/slnx.sqlite
